# Load Balancing for Mysql Galera Cluster
listen galera {{ ansible_default_ipv4 }}:3306
     balance source
     mode tcp
     option tcpka
     option mysql-check user haproxy
     {% for host in groups['mysql_cluster'] %}
     server  {{hostvars[inventory_hostname]}} {{ hostvars[host]['default']['ipv4']['address'] }}:3306 check weight 1
     {% endfor %}

